
// Primary

$colors: (
    'red': 'red',
    'orange': 'orange',
    'yellow': 'yellow',
    'green': 'green',
    'teal': 'teal',
    'blue': 'blue',
    'purple': 'purple',
    'pink': 'pink'
);

@function color($key: 'primary') {
    @return map-get($colors, $key);
}

// Tints & shades

$color-interval: 10% !global;

@function color-level($color-name: 'primary', $level: 0) {
    $color: color($color-name);
    $color-base: if($level < 0, black, white);
    @return mix($color-base, $color, $level * $color-interval);
}
